<!DOCTYPE html>
<html>
<head>
  <title>Home | Pango - Sell Anything and Everything</title>
</head>
<body>
<h1>Pango</h1>
<p>This is the home page for the
  <a href="https://sov.tech/">Pango App</a>
</p>
</body>
</html>