<div class="center jumbotron">
  <%= link_to image_tag("pango_logo_white.png",{alt: "Pango logo", width: '35%', height: '25%'} ),
              'https://sov.tech' %>
  <br/>
  <br/>
  <br/>
  <br/>

</div>

<div class="center jumbotron">
  <h1>Welcome to Pango</h1>

  <h2 class = "text">
    The best app to rent everything and anything. <br/>
    <br/>
    Discover the staff you need

    <br/>
    <br/>
    <br/>
    <br/>

  </h2>

</div>

<div class="center jumbotron">
<%= link_to image_tag("ios_app.png",{alt: "Pango logo", width: '15%', height: '15%'} ),
            'https://sov.tech' %>
</div>