//@import "bootstrap-sprockets";
//@import "bootstrap";


html {
  background-image: url("website_bg.png");
}

body {
  padding-top: 60px;
}

text {
  padding-top: 60px;
  text-decoration-color: #999999;
}

h1, h2 {
  color: white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}